@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif; 
}

::-webkit-scrollbar {
   width: 0px;
   height: 0px;
}

html, body {
   height: 100vh;
   width: 100vw;
   background-color: rgb(0, 128, 0);
}

body {
   background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
   background-size: cover;
   background-attachment: fixed;
}

main {
   position: relative;
   height: 100vh;
}

section#telefone {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 627px;
   width:311px;
   background: url('../imagens/frame-iphone.png') no-repeat;

}

iframe#tela{
   position: relative;
   top: 80px;
   left: 22px;
   width: 267px;
   height: 471px;
}

section#redes-sociais {
   text-align: right;
}

section#redes-sociais img {
   width: 50px;
   margin: 10px;
   border-radius: 50%;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   box-sizing: border-box;
}

section#redes-sociais img:hover {
   border: 2px solid rgba(245, 245, 245, 0.7);
   transform: translate(-2px, -3px);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
   transition: transform 0.3s, border 0.4s;
}